<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Node Express MongoDB Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to our Blog!</h1>
</body>
</html>
