/* public/css/style.css */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 60px 0 0;
  background-color: #272727; /* Dark background color */
  color: #f9f9f9; /* Light text color */
}

.header {
  background-color: #5c0011; /* Maroon header background color */
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.title {
  margin: 0;
  color: #f9f9f9; /* Light text color */
  display: inline-block;
  vertical-align: middle;
}

.create-post-button,
.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c0011; /* Maroon button background color */
  color: #f9f9f9; /* Light text color */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.create-post-button:hover,
.home-button:hover {
  background-color: #84001e; /* Darker maroon on hover */
}

.blog-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.blog-post-box {
  background-color: #3c3c3c; /* Dark box background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Slightly transparent shadow */
  border-radius: 5px;
  padding: 20px;
  transition: box-shadow 0.2s ease;
}

.blog-post-box:hover {
  box-shadow: 4px 4px 4px 4px rgba(241, 241, 241, 0.3); /* More prominent shadow on hover */
  background-color: #803e3e;
}

.blog-post-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f9f9f9;
}

.blog-post-content p {
  color: #f9f9f9; /* Light text color */
}

.blog-post-content p:last-child {
  color: #ccc; /* Light gray color for post metadata */
  font-style: italic;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c0011; /* Maroon button background color */
  color: #f9f9f9; /* Light text color */
  text-decoration: none;
  border-radius: 5px;
}

a.button:hover {
  background-color: #84001e; /* Darker maroon on hover */
}
